# CSCI461 - Fall 2023 - Lab #10 (DataFrames, SQL functionality in Spark, MLlib (Machine Learning library in Spark))

## Installing Pyspark

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

## Data Frame Operations

In [ ]:
auto_df = spark.read.format("csv").option("header", True).load("/content/auto-mpg.csv")

In [ ]:
auto_df

+----+---------+------------+----------+------+------------+---------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|       70|     1|chevrolet chevell...|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|       70|     1|   buick skylark 320|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|       70|     1|  plymouth satellite|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|       70|     1|       amc rebel sst|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|       70|     1|         ford torino|
|15.0|        8|       429.0|     198.0| 4341.|        10.0|       70|     1|    ford galaxie 500|
|14.0|        8|       454.0|     220.0| 4354.|         9.0|       70|     1|    chevrolet impala|
|14.0|        8|       440.0|     215.0| 4312.|         8.5|       70|     1|   plymouth fury iii|
|14.0|        8|       455.0|     225.0| 4425.|        10.0|       70|     1|    pontiac catalina|
|15.0|        8|       390.0|     190.0| 3850.|         8.5|       70|     1|  amc ambassador dpl|
|15.0|        8|       383.0|     170.0| 3563.|        10.0|       70|     1| dodge challenger se|
|14.0|        8|       340.0|     160.0| 3609.|         8.0|       70|     1|  plymouth 'cuda 340|
|15.0|        8|       400.0|     150.0| 3761.|         9.5|       70|     1|chevrolet monte c...|
|14.0|        8|       455.0|     225.0| 3086.|        10.0|       70|     1|buick estate wago...|
|24.0|        4|       113.0|     95.00| 2372.|        15.0|       70|     3|toyota corona mar...|
|22.0|        6|       198.0|     95.00| 2833.|        15.5|       70|     1|     plymouth duster|
|18.0|        6|       199.0|     97.00| 2774.|        15.5|       70|     1|          amc hornet|
|21.0|        6|       200.0|     85.00| 2587.|        16.0|       70|     1|       ford maverick|
|27.0|        4|       97.00|     88.00| 2130.|        14.5|       70|     3|        datsun pl510|
|26.0|        4|       97.00|     46.00| 1835.|        20.5|       70|     2|volkswagen 1131 d...|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
only showing top 20 rows

### Inserting a new field to a Data Frame

In [ ]:
from pyspark.sql.functions import upper, lower

auto_df = auto_df.withColumn("upper", upper(auto_df.carname)).withColumn(
    "lower", lower(auto_df.carname)
)

In [ ]:
auto_df

+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|               upper|               lower|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|       70|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|       70|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|       70|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|       70|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|       70|     1|         ford torino|         FORD TORINO|         ford torino|
|15.0|        8|       429.0|     198.0| 4341.|        10.0|       70|     1|    ford galaxie 500|    FORD GALAXIE 500|    ford galaxie 500|
|14.0|        8|       454.0|     220.0| 4354.|         9.0|       70|     1|    chevrolet impala|    CHEVROLET IMPALA|    chevrolet impala|
|14.0|        8|       440.0|     215.0| 4312.|         8.5|       70|     1|   plymouth fury iii|   PLYMOUTH FURY III|   plymouth fury iii|
|14.0|        8|       455.0|     225.0| 4425.|        10.0|       70|     1|    pontiac catalina|    PONTIAC CATALINA|    pontiac catalina|
|15.0|        8|       390.0|     190.0| 3850.|         8.5|       70|     1|  amc ambassador dpl|  AMC AMBASSADOR DPL|  amc ambassador dpl|
|15.0|        8|       383.0|     170.0| 3563.|        10.0|       70|     1| dodge challenger se| DODGE CHALLENGER SE| dodge challenger se|
|14.0|        8|       340.0|     160.0| 3609.|         8.0|       70|     1|  plymouth 'cuda 340|  PLYMOUTH 'CUDA 340|  plymouth 'cuda 340|
|15.0|        8|       400.0|     150.0| 3761.|         9.5|       70|     1|chevrolet monte c...|CHEVROLET MONTE C...|chevrolet monte c...|
|14.0|        8|       455.0|     225.0| 3086.|        10.0|       70|     1|buick estate wago...|BUICK ESTATE WAGO...|buick estate wago...|
|24.0|        4|       113.0|     95.00| 2372.|        15.0|       70|     3|toyota corona mar...|TOYOTA CORONA MAR...|toyota corona mar...|
|22.0|        6|       198.0|     95.00| 2833.|        15.5|       70|     1|     plymouth duster|     PLYMOUTH DUSTER|     plymouth duster|
|18.0|        6|       199.0|     97.00| 2774.|        15.5|       70|     1|          amc hornet|          AMC HORNET|          amc hornet|
|21.0|        6|       200.0|     85.00| 2587.|        16.0|       70|     1|       ford maverick|       FORD MAVERICK|       ford maverick|
|27.0|        4|       97.00|     88.00| 2130.|        14.5|       70|     3|        datsun pl510|        DATSUN PL510|        datsun pl510|
|26.0|        4|       97.00|     46.00| 1835.|        20.5|       70|     2|volkswagen 1131 d...|VOLKSWAGEN 1131 D...|volkswagen 1131 d...|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
only showing top 20 rows

### Alter a Data Frame field

In [ ]:
from pyspark.sql.functions import col, concat, lit

auto_df = auto_df.withColumn("modelyear", concat(lit("19"), col("modelyear")))

In [ ]:
auto_df

+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|               upper|               lower|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|     1970|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|     1970|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|     1970|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|     1970|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|     1970|     1|         ford torino|         FORD TORINO|         ford torino|
|15.0|        8|       429.0|     198.0| 4341.|        10.0|     1970|     1|    ford galaxie 500|    FORD GALAXIE 500|    ford galaxie 500|
|14.0|        8|       454.0|     220.0| 4354.|         9.0|     1970|     1|    chevrolet impala|    CHEVROLET IMPALA|    chevrolet impala|
|14.0|        8|       440.0|     215.0| 4312.|         8.5|     1970|     1|   plymouth fury iii|   PLYMOUTH FURY III|   plymouth fury iii|
|14.0|        8|       455.0|     225.0| 4425.|        10.0|     1970|     1|    pontiac catalina|    PONTIAC CATALINA|    pontiac catalina|
|15.0|        8|       390.0|     190.0| 3850.|         8.5|     1970|     1|  amc ambassador dpl|  AMC AMBASSADOR DPL|  amc ambassador dpl|
|15.0|        8|       383.0|     170.0| 3563.|        10.0|     1970|     1| dodge challenger se| DODGE CHALLENGER SE| dodge challenger se|
|14.0|        8|       340.0|     160.0| 3609.|         8.0|     1970|     1|  plymouth 'cuda 340|  PLYMOUTH 'CUDA 340|  plymouth 'cuda 340|
|15.0|        8|       400.0|     150.0| 3761.|         9.5|     1970|     1|chevrolet monte c...|CHEVROLET MONTE C...|chevrolet monte c...|
|14.0|        8|       455.0|     225.0| 3086.|        10.0|     1970|     1|buick estate wago...|BUICK ESTATE WAGO...|buick estate wago...|
|24.0|        4|       113.0|     95.00| 2372.|        15.0|     1970|     3|toyota corona mar...|TOYOTA CORONA MAR...|toyota corona mar...|
|22.0|        6|       198.0|     95.00| 2833.|        15.5|     1970|     1|     plymouth duster|     PLYMOUTH DUSTER|     plymouth duster|
|18.0|        6|       199.0|     97.00| 2774.|        15.5|     1970|     1|          amc hornet|          AMC HORNET|          amc hornet|
|21.0|        6|       200.0|     85.00| 2587.|        16.0|     1970|     1|       ford maverick|       FORD MAVERICK|       ford maverick|
|27.0|        4|       97.00|     88.00| 2130.|        14.5|     1970|     3|        datsun pl510|        DATSUN PL510|        datsun pl510|
|26.0|        4|       97.00|     46.00| 1835.|        20.5|     1970|     2|volkswagen 1131 d...|VOLKSWAGEN 1131 D...|volkswagen 1131 d...|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
only showing top 20 rows

### Inserting a field with multiple conditions

In [ ]:
from pyspark.sql.functions import col, when

auto_df = auto_df.withColumn(
    "mpg_class",
    when(col("mpg") <= 20, "low")
    .when(col("mpg") <= 30, "mid")
    .when(col("mpg") <= 40, "high")
    .otherwise("very high"),
)

In [ ]:
auto_df

+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|               upper|               lower|mpg_class|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|     1970|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|      low|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|     1970|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|      low|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|     1970|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|      low|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|     1970|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|      low|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|     1970|     1|         ford torino|         FORD TORINO|         ford torino|      low|
|15.0|        8|       429.0|     198.0| 4341.|        10.0|     1970|     1|    ford galaxie 500|    FORD GALAXIE 500|    ford galaxie 500|      low|
|14.0|        8|       454.0|     220.0| 4354.|         9.0|     1970|     1|    chevrolet impala|    CHEVROLET IMPALA|    chevrolet impala|      low|
|14.0|        8|       440.0|     215.0| 4312.|         8.5|     1970|     1|   plymouth fury iii|   PLYMOUTH FURY III|   plymouth fury iii|      low|
|14.0|        8|       455.0|     225.0| 4425.|        10.0|     1970|     1|    pontiac catalina|    PONTIAC CATALINA|    pontiac catalina|      low|
|15.0|        8|       390.0|     190.0| 3850.|         8.5|     1970|     1|  amc ambassador dpl|  AMC AMBASSADOR DPL|  amc ambassador dpl|      low|
|15.0|        8|       383.0|     170.0| 3563.|        10.0|     1970|     1| dodge challenger se| DODGE CHALLENGER SE| dodge challenger se|      low|
|14.0|        8|       340.0|     160.0| 3609.|         8.0|     1970|     1|  plymouth 'cuda 340|  PLYMOUTH 'CUDA 340|  plymouth 'cuda 340|      low|
|15.0|        8|       400.0|     150.0| 3761.|         9.5|     1970|     1|chevrolet monte c...|CHEVROLET MONTE C...|chevrolet monte c...|      low|
|14.0|        8|       455.0|     225.0| 3086.|        10.0|     1970|     1|buick estate wago...|BUICK ESTATE WAGO...|buick estate wago...|      low|
|24.0|        4|       113.0|     95.00| 2372.|        15.0|     1970|     3|toyota corona mar...|TOYOTA CORONA MAR...|toyota corona mar...|      mid|
|22.0|        6|       198.0|     95.00| 2833.|        15.5|     1970|     1|     plymouth duster|     PLYMOUTH DUSTER|     plymouth duster|      mid|
|18.0|        6|       199.0|     97.00| 2774.|        15.5|     1970|     1|          amc hornet|          AMC HORNET|          amc hornet|      low|
|21.0|        6|       200.0|     85.00| 2587.|        16.0|     1970|     1|       ford maverick|       FORD MAVERICK|       ford maverick|      mid|
|27.0|        4|       97.00|     88.00| 2130.|        14.5|     1970|     3|        datsun pl510|        DATSUN PL510|        datsun pl510|      mid|
|26.0|        4|       97.00|     46.00| 1835.|        20.5|     1970|     2|volkswagen 1131 d...|VOLKSWAGEN 1131 D...|volkswagen 1131 d...|      mid|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+
only showing top 20 rows

### Removing a field

In [ ]:
auto_df = auto_df.drop("horsepower")

In [ ]:
auto_df

+----+---------+------------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+
| mpg|cylinders|displacement|weight|acceleration|modelyear|origin|             carname|               upper|               lower|mpg_class|
+----+---------+------------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+
|18.0|        8|       307.0| 3504.|        12.0|     1970|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|      low|
|15.0|        8|       350.0| 3693.|        11.5|     1970|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|      low|
|18.0|        8|       318.0| 3436.|        11.0|     1970|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|      low|
|16.0|        8|       304.0| 3433.|        12.0|     1970|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|      low|
|17.0|        8|       302.0| 3449.|        10.5|     1970|     1|         ford torino|         FORD TORINO|         ford torino|      low|
|15.0|        8|       429.0| 4341.|        10.0|     1970|     1|    ford galaxie 500|    FORD GALAXIE 500|    ford galaxie 500|      low|
|14.0|        8|       454.0| 4354.|         9.0|     1970|     1|    chevrolet impala|    CHEVROLET IMPALA|    chevrolet impala|      low|
|14.0|        8|       440.0| 4312.|         8.5|     1970|     1|   plymouth fury iii|   PLYMOUTH FURY III|   plymouth fury iii|      low|
|14.0|        8|       455.0| 4425.|        10.0|     1970|     1|    pontiac catalina|    PONTIAC CATALINA|    pontiac catalina|      low|
|15.0|        8|       390.0| 3850.|         8.5|     1970|     1|  amc ambassador dpl|  AMC AMBASSADOR DPL|  amc ambassador dpl|      low|
|15.0|        8|       383.0| 3563.|        10.0|     1970|     1| dodge challenger se| DODGE CHALLENGER SE| dodge challenger se|      low|
|14.0|        8|       340.0| 3609.|         8.0|     1970|     1|  plymouth 'cuda 340|  PLYMOUTH 'CUDA 340|  plymouth 'cuda 340|      low|
|15.0|        8|       400.0| 3761.|         9.5|     1970|     1|chevrolet monte c...|CHEVROLET MONTE C...|chevrolet monte c...|      low|
|14.0|        8|       455.0| 3086.|        10.0|     1970|     1|buick estate wago...|BUICK ESTATE WAGO...|buick estate wago...|      low|
|24.0|        4|       113.0| 2372.|        15.0|     1970|     3|toyota corona mar...|TOYOTA CORONA MAR...|toyota corona mar...|      mid|
|22.0|        6|       198.0| 2833.|        15.5|     1970|     1|     plymouth duster|     PLYMOUTH DUSTER|     plymouth duster|      mid|
|18.0|        6|       199.0| 2774.|        15.5|     1970|     1|          amc hornet|          AMC HORNET|          amc hornet|      low|
|21.0|        6|       200.0| 2587.|        16.0|     1970|     1|       ford maverick|       FORD MAVERICK|       ford maverick|      mid|
|27.0|        4|       97.00| 2130.|        14.5|     1970|     3|        datsun pl510|        DATSUN PL510|        datsun pl510|      mid|
|26.0|        4|       97.00| 1835.|        20.5|     1970|     2|volkswagen 1131 d...|VOLKSWAGEN 1131 D...|volkswagen 1131 d...|      mid|
+----+---------+------------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+
only showing top 20 rows

### Choosing particular fields from a Data Frame

In [ ]:
df = auto_df.select(["mpg", "cylinders", "displacement"])

In [ ]:
df

+----+---------+------------+
| mpg|cylinders|displacement|
+----+---------+------------+
|18.0|        8|       307.0|
|15.0|        8|       350.0|
|18.0|        8|       318.0|
|16.0|        8|       304.0|
|17.0|        8|       302.0|
|15.0|        8|       429.0|
|14.0|        8|       454.0|
|14.0|        8|       440.0|
|14.0|        8|       455.0|
|15.0|        8|       390.0|
|15.0|        8|       383.0|
|14.0|        8|       340.0|
|15.0|        8|       400.0|
|14.0|        8|       455.0|
|24.0|        4|       113.0|
|22.0|        6|       198.0|
|18.0|        6|       199.0|
|21.0|        6|       200.0|
|27.0|        4|       97.00|
|26.0|        4|       97.00|
+----+---------+------------+
only showing top 20 rows

### Determine the dimensions of a Data Frame

In [ ]:
auto_df.count()

398

### Get the fields data types

In [ ]:
auto_df.dtypes

[('mpg', 'string'),
 ('cylinders', 'string'),
 ('displacement', 'string'),
 ('weight', 'string'),
 ('acceleration', 'string'),
 ('modelyear', 'string'),
 ('origin', 'string'),
 ('carname', 'string'),
 ('upper', 'string'),
 ('lower', 'string'),
 ('mpg_class', 'string')]

### Implementing a Map-type transformation on a Data Frame

In [ ]:
def map_function(row):
    if row.acceleration is not None:
        return [float(row.acceleration) * 10]
    else:
        return [None]

df = auto_df.rdd.map(map_function).toDF()

In [ ]:
df

+-----+
|   _1|
+-----+
|120.0|
|115.0|
|110.0|
|120.0|
|105.0|
|100.0|
| 90.0|
| 85.0|
|100.0|
| 85.0|
|100.0|
| 80.0|
| 95.0|
|100.0|
|150.0|
|155.0|
|155.0|
|160.0|
|145.0|
|205.0|
+-----+
only showing top 20 rows

### Utilizing the Custom Function on a Data Frame

In [ ]:
from pyspark.sql.functions import col, udf
from pyspark.sql.types import StringType

first_word_udf = udf(lambda x: x.split()[0], StringType())
df = auto_df.withColumn("manufacturer", first_word_udf(col("carname")))
df

+----+---------+------------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+------------+
| mpg|cylinders|displacement|weight|acceleration|modelyear|origin|             carname|               upper|               lower|mpg_class|manufacturer|
+----+---------+------------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+------------+
|18.0|        8|       307.0| 3504.|        12.0|     1970|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|      low|   chevrolet|
|15.0|        8|       350.0| 3693.|        11.5|     1970|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|      low|       buick|
|18.0|        8|       318.0| 3436.|        11.0|     1970|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|      low|    plymouth|
|16.0|        8|       304.0| 3433.|        12.0|     1970|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|      low|         amc|
|17.0|        8|       302.0| 3449.|        10.5|     1970|     1|         ford torino|         FORD TORINO|         ford torino|      low|        ford|
|15.0|        8|       429.0| 4341.|        10.0|     1970|     1|    ford galaxie 500|    FORD GALAXIE 500|    ford galaxie 500|      low|        ford|
|14.0|        8|       454.0| 4354.|         9.0|     1970|     1|    chevrolet impala|    CHEVROLET IMPALA|    chevrolet impala|      low|   chevrolet|
|14.0|        8|       440.0| 4312.|         8.5|     1970|     1|   plymouth fury iii|   PLYMOUTH FURY III|   plymouth fury iii|      low|    plymouth|
|14.0|        8|       455.0| 4425.|        10.0|     1970|     1|    pontiac catalina|    PONTIAC CATALINA|    pontiac catalina|      low|     pontiac|
|15.0|        8|       390.0| 3850.|         8.5|     1970|     1|  amc ambassador dpl|  AMC AMBASSADOR DPL|  amc ambassador dpl|      low|         amc|
|15.0|        8|       383.0| 3563.|        10.0|     1970|     1| dodge challenger se| DODGE CHALLENGER SE| dodge challenger se|      low|       dodge|
|14.0|        8|       340.0| 3609.|         8.0|     1970|     1|  plymouth 'cuda 340|  PLYMOUTH 'CUDA 340|  plymouth 'cuda 340|      low|    plymouth|
|15.0|        8|       400.0| 3761.|         9.5|     1970|     1|chevrolet monte c...|CHEVROLET MONTE C...|chevrolet monte c...|      low|   chevrolet|
|14.0|        8|       455.0| 3086.|        10.0|     1970|     1|buick estate wago...|BUICK ESTATE WAGO...|buick estate wago...|      low|       buick|
|24.0|        4|       113.0| 2372.|        15.0|     1970|     3|toyota corona mar...|TOYOTA CORONA MAR...|toyota corona mar...|      mid|      toyota|
|22.0|        6|       198.0| 2833.|        15.5|     1970|     1|     plymouth duster|     PLYMOUTH DUSTER|     plymouth duster|      mid|    plymouth|
|18.0|        6|       199.0| 2774.|        15.5|     1970|     1|          amc hornet|          AMC HORNET|          amc hornet|      low|         amc|
|21.0|        6|       200.0| 2587.|        16.0|     1970|     1|       ford maverick|       FORD MAVERICK|       ford maverick|      mid|        ford|
|27.0|        4|       97.00| 2130.|        14.5|     1970|     3|        datsun pl510|        DATSUN PL510|        datsun pl510|      mid|      datsun|
|26.0|        4|       97.00| 1835.|        20.5|     1970|     2|volkswagen 1131 d...|VOLKSWAGEN 1131 D...|volkswagen 1131 d...|      mid|  volkswagen|
+----+---------+------------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col

df = auto_df.orderBy("carname")
df

+----+---------+------------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+
| mpg|cylinders|displacement|weight|acceleration|modelyear|origin|             carname|               upper|               lower|mpg_class|
+----+---------+------------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+
|13.0|        8|       360.0| 3821.|        11.0|     1973|     1|amc ambassador br...|AMC AMBASSADOR BR...|amc ambassador br...|      low|
|15.0|        8|       390.0| 3850.|         8.5|     1970|     1|  amc ambassador dpl|  AMC AMBASSADOR DPL|  amc ambassador dpl|      low|
|17.0|        8|       304.0| 3672.|        11.5|     1972|     1|  amc ambassador sst|  AMC AMBASSADOR SST|  amc ambassador sst|      low|
|19.4|        6|       232.0| 3210.|        17.2|     1978|     1|         amc concord|         AMC CONCORD|         amc concord|      low|
|24.3|        4|       151.0| 3003.|        20.1|     1980|     1|         amc concord|         AMC CONCORD|         amc concord|      mid|
|18.1|        6|       258.0| 3410.|        15.1|     1978|     1|     amc concord d/l|     AMC CONCORD D/L|     amc concord d/l|      low|
|23.0|        4|       151.0| 3035.|        20.5|     1982|     1|      amc concord dl|      AMC CONCORD DL|      amc concord dl|      mid|
|20.2|        6|       232.0| 3265.|        18.2|     1979|     1|    amc concord dl 6|    AMC CONCORD DL 6|    amc concord dl 6|      low|
|21.0|        6|       199.0| 2648.|        15.0|     1970|     1|         amc gremlin|         AMC GREMLIN|         amc gremlin|      mid|
|19.0|        6|       232.0| 2634.|        13.0|     1971|     1|         amc gremlin|         AMC GREMLIN|         amc gremlin|      low|
|18.0|        6|       232.0| 2789.|        15.0|     1973|     1|         amc gremlin|         AMC GREMLIN|         amc gremlin|      low|
|20.0|        6|       232.0| 2914.|        16.0|     1975|     1|         amc gremlin|         AMC GREMLIN|         amc gremlin|      low|
|19.0|        6|       232.0| 2901.|        16.0|     1974|     1|          amc hornet|          AMC HORNET|          amc hornet|      low|
|18.0|        6|       199.0| 2774.|        15.5|     1970|     1|          amc hornet|          AMC HORNET|          amc hornet|      low|
|18.0|        6|       232.0| 2945.|        16.0|     1973|     1|          amc hornet|          AMC HORNET|          amc hornet|      low|
|22.5|        6|       232.0| 3085.|        17.6|     1976|     1|          amc hornet|          AMC HORNET|          amc hornet|      mid|
|18.0|        6|       258.0| 2962.|        13.5|     1971|     1|amc hornet sporta...|AMC HORNET SPORTA...|amc hornet sporta...|      low|
|16.0|        6|       258.0| 3632.|        18.0|     1974|     1|         amc matador|         AMC MATADOR|         amc matador|      low|
|14.0|        8|       304.0| 3672.|        11.5|     1973|     1|         amc matador|         AMC MATADOR|         amc matador|      low|
|15.0|        6|       258.0| 3730.|        19.0|     1975|     1|         amc matador|         AMC MATADOR|         amc matador|      low|
+----+---------+------------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col
df = auto_df.orderBy(col("carname").desc())
df

+----+---------+------------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+
| mpg|cylinders|displacement|weight|acceleration|modelyear|origin|             carname|               upper|               lower|mpg_class|
+----+---------+------------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+
|31.9|        4|       89.00| 1925.|        14.0|     1979|     2|    vw rabbit custom|    VW RABBIT CUSTOM|    vw rabbit custom|     high|
|44.3|        4|       90.00| 2085.|        21.7|     1980|     2|vw rabbit c (diesel)|VW RABBIT C (DIESEL)|vw rabbit c (diesel)|very high|
|29.0|        4|       90.00| 1937.|        14.2|     1976|     2|           vw rabbit|           VW RABBIT|           vw rabbit|      mid|
|41.5|        4|       98.00| 2144.|        14.7|     1980|     2|           vw rabbit|           VW RABBIT|           vw rabbit|very high|
|44.0|        4|       97.00| 2130.|        24.6|     1982|     2|           vw pickup|           VW PICKUP|           vw pickup|very high|
|43.4|        4|       90.00| 2335.|        23.7|     1980|     2|  vw dasher (diesel)|  VW DASHER (DIESEL)|  vw dasher (diesel)|very high|
|30.7|        6|       145.0| 3160.|        19.6|     1981|     2|        volvo diesel|        VOLVO DIESEL|        volvo diesel|      mid|
|17.0|        6|       163.0| 3140.|        13.6|     1978|     2|         volvo 264gl|         VOLVO 264GL|         volvo 264gl|      low|
|20.0|        4|       130.0| 3150.|        15.7|     1976|     2|           volvo 245|           VOLVO 245|           volvo 245|      low|
|22.0|        4|       121.0| 2945.|        14.5|     1975|     2|         volvo 244dl|         VOLVO 244DL|         volvo 244dl|      mid|
|18.0|        4|       121.0| 2933.|        14.5|     1972|     2|     volvo 145e (sw)|     VOLVO 145E (SW)|     volvo 145e (sw)|      low|
|19.0|        4|       121.0| 2868.|        15.5|     1973|     2|         volvo 144ea|         VOLVO 144EA|         volvo 144ea|      low|
|23.0|        4|       97.00| 2254.|        23.5|     1972|     2|   volkswagen type 3|   VOLKSWAGEN TYPE 3|   volkswagen type 3|      mid|
|26.0|        4|       97.00| 1950.|        21.0|     1973|     2|volkswagen super ...|VOLKSWAGEN SUPER ...|volkswagen super ...|      mid|
|31.5|        4|       89.00| 1990.|        14.9|     1978|     2| volkswagen scirocco| VOLKSWAGEN SCIROCCO| volkswagen scirocco|     high|
|36.0|        4|       105.0| 1980.|        15.3|     1982|     2| volkswagen rabbit l| VOLKSWAGEN RABBIT L| volkswagen rabbit l|     high|
|43.1|        4|       90.00| 1985.|        21.5|     1978|     2|volkswagen rabbit...|VOLKSWAGEN RABBIT...|volkswagen rabbit...|very high|
|29.0|        4|       97.00| 1940.|        14.5|     1977|     2|volkswagen rabbit...|VOLKSWAGEN RABBIT...|volkswagen rabbit...|      mid|
|29.0|        4|       90.00| 1937.|        14.0|     1975|     2|   volkswagen rabbit|   VOLKSWAGEN RABBIT|   volkswagen rabbit|      mid|
|29.5|        4|       97.00| 1825.|        12.2|     1976|     2|   volkswagen rabbit|   VOLKSWAGEN RABBIT|   volkswagen rabbit|      mid|
+----+---------+------------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+
only showing top 20 rows

In [ ]:
df = auto_df.select("cylinders").distinct()
df

+---------+
|cylinders|
+---------+
|        3|
|        8|
|        5|
|        6|
|        4|
+---------+

In [ ]:
df = auto_df.dropDuplicates(["carname"])
df

+----+---------+------------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+
| mpg|cylinders|displacement|weight|acceleration|modelyear|origin|             carname|               upper|               lower|mpg_class|
+----+---------+------------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+
|13.0|        8|       360.0| 3821.|        11.0|     1973|     1|amc ambassador br...|AMC AMBASSADOR BR...|amc ambassador br...|      low|
|15.0|        8|       390.0| 3850.|         8.5|     1970|     1|  amc ambassador dpl|  AMC AMBASSADOR DPL|  amc ambassador dpl|      low|
|17.0|        8|       304.0| 3672.|        11.5|     1972|     1|  amc ambassador sst|  AMC AMBASSADOR SST|  amc ambassador sst|      low|
|19.4|        6|       232.0| 3210.|        17.2|     1978|     1|         amc concord|         AMC CONCORD|         amc concord|      low|
|18.1|        6|       258.0| 3410.|        15.1|     1978|     1|     amc concord d/l|     AMC CONCORD D/L|     amc concord d/l|      low|
|23.0|        4|       151.0| 3035.|        20.5|     1982|     1|      amc concord dl|      AMC CONCORD DL|      amc concord dl|      mid|
|20.2|        6|       232.0| 3265.|        18.2|     1979|     1|    amc concord dl 6|    AMC CONCORD DL 6|    amc concord dl 6|      low|
|21.0|        6|       199.0| 2648.|        15.0|     1970|     1|         amc gremlin|         AMC GREMLIN|         amc gremlin|      mid|
|18.0|        6|       199.0| 2774.|        15.5|     1970|     1|          amc hornet|          AMC HORNET|          amc hornet|      low|
|18.0|        6|       258.0| 2962.|        13.5|     1971|     1|amc hornet sporta...|AMC HORNET SPORTA...|amc hornet sporta...|      low|
|18.0|        6|       232.0| 3288.|        15.5|     1971|     1|         amc matador|         AMC MATADOR|         amc matador|      low|
|15.0|        8|       304.0| 3892.|        12.5|     1972|     1|    amc matador (sw)|    AMC MATADOR (SW)|    amc matador (sw)|      low|
|19.0|        6|       232.0| 3211.|        17.0|     1975|     1|           amc pacer|           AMC PACER|           amc pacer|      low|
|17.5|        6|       258.0| 3193.|        17.8|     1976|     1|       amc pacer d/l|       AMC PACER D/L|       amc pacer d/l|      low|
|16.0|        8|       304.0| 3433.|        12.0|     1970|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|      low|
|27.4|        4|       121.0| 2670.|        15.0|     1979|     1|       amc spirit dl|       AMC SPIRIT DL|       amc spirit dl|      mid|
|24.0|        4|       107.0| 2430.|        14.5|     1970|     2|         audi 100 ls|         AUDI 100 LS|         audi 100 ls|      mid|
|20.0|        4|       114.0| 2582.|        14.0|     1973|     2|          audi 100ls|          AUDI 100LS|          audi 100ls|      low|
|34.3|        4|       97.00| 2188.|        15.8|     1980|     2|           audi 4000|           AUDI 4000|           audi 4000|     high|
|20.3|        5|       131.0| 2830.|        15.9|     1978|     2|           audi 5000|           AUDI 5000|           audi 5000|      low|
+----+---------+------------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+
only showing top 20 rows

In [ ]:
df.count()

305

In [ ]:
from pyspark.sql.functions import desc

# No sorting.
df = auto_df.groupBy("cylinders").count()
df

+---------+-----+
|cylinders|count|
+---------+-----+
|        3|    4|
|        8|  103|
|        5|    3|
|        6|   84|
|        4|  204|
+---------+-----+

In [ ]:
from pyspark.sql.functions import desc

# With sorting.
df = auto_df.groupBy("cylinders").count().orderBy(desc("count"))
df

+---------+-----+
|cylinders|count|
+---------+-----+
|        4|  204|
|        8|  103|
|        6|   84|
|        3|    4|
|        5|    3|
+---------+-----+

In [ ]:
from pyspark.sql.functions import col

df = auto_df.groupBy("cylinders").count().where(col("count") > 100)
df

+---------+-----+
|cylinders|count|
+---------+-----+
|        8|  103|
|        4|  204|
+---------+-----+

## SQL functionality in Spark

In [ ]:
sql_df = spark.read.option("header",True).csv("/content/auto-mpg.csv").createOrReplaceTempView("mpgTable")

In [ ]:
df = spark.sql("SELECT carname, weight FROM mpgTable")

In [ ]:
df

+--------------------+------+
|             carname|weight|
+--------------------+------+
|chevrolet chevell...| 3504.|
|   buick skylark 320| 3693.|
|  plymouth satellite| 3436.|
|       amc rebel sst| 3433.|
|         ford torino| 3449.|
|    ford galaxie 500| 4341.|
|    chevrolet impala| 4354.|
|   plymouth fury iii| 4312.|
|    pontiac catalina| 4425.|
|  amc ambassador dpl| 3850.|
| dodge challenger se| 3563.|
|  plymouth 'cuda 340| 3609.|
|chevrolet monte c...| 3761.|
|buick estate wago...| 3086.|
|toyota corona mar...| 2372.|
|     plymouth duster| 2833.|
|          amc hornet| 2774.|
|       ford maverick| 2587.|
|        datsun pl510| 2130.|
|volkswagen 1131 d...| 1835.|
+--------------------+------+
only showing top 20 rows

In [ ]:
df_0 = spark.sql("SELECT * FROM mpgTable WHERE cylinders > 4")
df_0

+----+---------+------------+----------+------+------------+---------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|       70|     1|chevrolet chevell...|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|       70|     1|   buick skylark 320|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|       70|     1|  plymouth satellite|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|       70|     1|       amc rebel sst|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|       70|     1|         ford torino|
|15.0|        8|       429.0|     198.0| 4341.|        10.0|       70|     1|    ford galaxie 500|
|14.0|        8|       454.0|     220.0| 4354.|         9.0|       70|     1|    chevrolet impala|
|14.0|        8|       440.0|     215.0| 4312.|         8.5|       70|     1|   plymouth fury iii|
|14.0|        8|       455.0|     225.0| 4425.|        10.0|       70|     1|    pontiac catalina|
|15.0|        8|       390.0|     190.0| 3850.|         8.5|       70|     1|  amc ambassador dpl|
|15.0|        8|       383.0|     170.0| 3563.|        10.0|       70|     1| dodge challenger se|
|14.0|        8|       340.0|     160.0| 3609.|         8.0|       70|     1|  plymouth 'cuda 340|
|15.0|        8|       400.0|     150.0| 3761.|         9.5|       70|     1|chevrolet monte c...|
|14.0|        8|       455.0|     225.0| 3086.|        10.0|       70|     1|buick estate wago...|
|22.0|        6|       198.0|     95.00| 2833.|        15.5|       70|     1|     plymouth duster|
|18.0|        6|       199.0|     97.00| 2774.|        15.5|       70|     1|          amc hornet|
|21.0|        6|       200.0|     85.00| 2587.|        16.0|       70|     1|       ford maverick|
|21.0|        6|       199.0|     90.00| 2648.|        15.0|       70|     1|         amc gremlin|
|10.0|        8|       360.0|     215.0| 4615.|        14.0|       70|     1|           ford f250|
|10.0|        8|       307.0|     200.0| 4376.|        15.0|       70|     1|           chevy c20|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
only showing top 20 rows

## MLlib (Machine Learning library in Spark)

In [ ]:
auto_df

DataFrame[mpg: string, cylinders: string, displacement: string, weight: string, acceleration: string, modelyear: string, origin: string, carname: string, upper: string, lower: string, mpg_class: string]

In [ ]:
auto_df.cache()

DataFrame[mpg: string, cylinders: string, displacement: string, weight: string, acceleration: string, modelyear: string, origin: string, carname: string, upper: string, lower: string, mpg_class: string]

In [ ]:
auto_df = auto_df.withColumn("cylinders", col("cylinders").cast("int"))
auto_df = auto_df.withColumn("displacement", col("displacement").cast("double"))
auto_df = auto_df.withColumn("weight", col("weight").cast("double"))
auto_df = auto_df.withColumn("acceleration", col("acceleration").cast("double"))
auto_df = auto_df.withColumn("modelyear", col("modelyear").cast("int"))
auto_df = auto_df.withColumn("origin", col("origin").cast("int"))
auto_df = auto_df.withColumn("mpg", col("mpg").cast("int"))

In [ ]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression
from pyspark.ml import Pipeline
from pyspark.ml.evaluation import RegressionEvaluator

In [ ]:
# Create a vector assembler to combine features into a single vector
feature_columns = ["cylinders", "displacement", "weight", "acceleration", "modelyear", "origin"]
vector_assembler = VectorAssembler(inputCols=feature_columns, outputCol="features")

In [ ]:
# Define the linear regression model
lr = LinearRegression(featuresCol="features", labelCol="mpg")

In [ ]:
# Create a pipeline with the vector assembler and linear regression model
pipeline = Pipeline(stages=[vector_assembler, lr])

In [ ]:
# Split the data into training and testing sets
train_data, test_data = auto_df.randomSplit([0.8, 0.2], seed=123)

In [ ]:
# Train the model
model = pipeline.fit(train_data)

In [ ]:
# Make predictions on the test set
predictions = model.transform(test_data)

In [ ]:
# Evaluate the model
evaluator = RegressionEvaluator(labelCol="mpg", predictionCol="prediction", metricName="rmse")
rmse = evaluator.evaluate(predictions)
print(f"Root Mean Squared Error (RMSE): {rmse}")

Root Mean Squared Error (RMSE): 3.689063239788798

In [ ]:
# Display the coefficients and intercept of the model
coefficients = model.stages[-1].coefficients
intercept = model.stages[-1].intercept
print(f"Coefficients: {coefficients}")
print(f"Intercept: {intercept}")

Coefficients: [-0.2113766306979264,0.018979940192397262,-0.007299472545952028,0.16686018705675226,0.7464019017720807,1.677023007539527]
Intercept: -1437.6573615456782

# END OF Lab #10

In [ ]:
kmeans = KMeans(featuresCol="scaledFeatures", k=3)  # Adjust k as needed

# Pipeline
pipeline = Pipeline(stages=indexers + encoders + [assembler, scaler, kmeans])

# Cache the DataFrame
auto_df.cache()

# Train the model
model = pipeline.fit(auto_df)

# Save the model
model_path = "/path/to/save/model"
model.write().overwrite().save(model_path)